<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder text-dark">Order Checkout</h2>
  <div class="text-gray-400 fw-bold fs-6">
    If you need more info, please check out
    <a href="#" class="text-primary fw-bolder">Help Page</a>.
  </div>
</div>
<div [formGroup]="form">

  <div class="card mb-5 mb-xl-10 card_ig">
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#kt_account_signin_method"
    >
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Order Cost</h3>
      </div>
      <div class="card-toolbar">
        <a class="btn btn-sm btn-light fw-bolder">${{ orderCost }}</a>
      </div>
    </div>
    <div class="collapse show">
      <div class="card-body border-top p-9">
        <ng-container *ngFor="let o of orderDetails | keyvalue ">
          <div class="d-flex flex-wrap align-items-center">
            <div class="fs-6 fw-bolder mb-1"> {{ o.key }}</div>
            <div class="ms-auto false"> {{ o.value }} </div>
          </div>
          <div class="separator separator-dashed my-6"></div>
        </ng-container>


        <div
          class="notice d-flex bg-light-primary rounded border-primary
            border border-dashed p-6"
          *ngIf="this.defaultValues.user_credits >= orderCost"
        >
          <span
            class="svg-icon svg-icon-2tx svg-icon-primary me-4"
            [inlineSVG]="'./assets/media/icons/duotune/general/gen048.svg'"
          >
          </span>
          <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
            <div class="mb-3 mb-md-0 fw-bold">
              <h4 class="text-gray-800 fw-bolder">Pay Through Credits</h4>
              <div class="fs-6 text-gray-600 pe-7">
                Order cost will be deducted from your credits wallet.
              </div>
            </div>
            <a class="btn btn-sm btn-active-light fw-bolder">
              ${{ this.defaultValues.user_credits }}
            </a>
            <span
              class="svg-icon svg-icon-2tx svg-icon-primary me-4"
              [inlineSVG]="'./assets/media/icons/duotune/general/gen026.svg'"
            ></span>
          </div>
        </div>

        <div
          class="notice d-flex bg-light-danger rounded border-danger
            border border-dashed p-6"
          *ngIf="this.defaultValues.user_credits < orderCost"
        >
          <span
            class="svg-icon svg-icon-2tx svg-icon-danger me-4"
            [inlineSVG]="'./assets/media/icons/duotune/general/gen050.svg'"
          >
          </span>
          <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
            <div class="mb-3 mb-md-0 fw-bold">
              <h4 class="text-gray-800 fw-bolder">Pay Through Credits</h4>
              <div class="fs-6 text-gray-600 pe-7">
                Order cost is greater than the credits balance.
                Please add credits to your wallet.
                <div class="text-gray-400 fw-bold fs-6"> (Clicking on submit, will save the order as Draft Order.
                  You can access and place orders from <a class="link-primary fw-bolder"> Draft Order </a> menu.
                </div>
              </div>
            </div>
            <a class="btn btn-sm btn-light btn-active-primary fw-bolder">
              Add Credits
              <i class="fas fa-plus-circle"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
