<div class="card">
  <!--begin::Body-->
  <div class="card-body p-lg-17">
    <!--begin::Row-->
    <div class="row mb-3">
      <!--begin::Col-->
      <div class="col-md-6 pe-lg-10">
        <!--begin::Form-->
        <form action="" class="form mb-15" method="post" id="kt_contact_form">
          <h1 class="fw-bolder text-dark mb-9">Send Us Email</h1>
          <!--begin::Input group-->
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-bold mb-2">Name</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" class="form-control form-control-solid" placeholder="" name="name" />
              <!--end::Input-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--end::Label-->
              <label class="fs-5 fw-bold mb-2">Email</label>
              <!--end::Label-->
              <!--end::Input-->
              <input type="text" class="form-control form-control-solid" placeholder="" name="email" />
              <!--end::Input-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="d-flex flex-column mb-5 fv-row">
            <!--begin::Label-->
            <label class="fs-5 fw-bold mb-2">Subject</label>
            <!--end::Label-->
            <!--begin::Input-->
            <input class="form-control form-control-solid" placeholder="" name="subject" />
            <!--end::Input-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="d-flex flex-column mb-10 fv-row">
            <label class="fs-6 fw-bold mb-2">Message</label>
            <textarea class="form-control form-control-solid" rows="6" name="message" placeholder=""></textarea>
          </div>
          <!--end::Input group-->
          <!--begin::Submit-->
          <button type="submit" class="btn btn-primary" id="kt_contact_submit_button">
            <!--begin::Indicator-->
            <span class="indicator-label">Send Feedback</span>
            <span class="indicator-progress">Please wait...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            <!--end::Indicator-->
          </button>
          <!--end::Submit-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-md-6 ps-lg-10">
        <div class="text-center bg-light card-rounded d-flex flex-column justify-content-center p-10 h-100">
          <!--begin::Icon-->
          <!--SVG file not found: icons/duotune/finance/fin006.svgPhone.svg-->
          <!--end::Icon-->
          <!--begin::Subtitle-->
          <h1 class="text-dark fw-bolder my-5">Let’s Email</h1>
          <!--end::Subtitle-->
          <!--begin::Number-->
          <div class="text-gray-700 fw-bold fs-2">support@sociobond.com</div>
          <!--end::Number-->
        </div>
      </div>
      <!--end::Col-->
    </div>
    <!--end::Row-->
    <!--begin::Card-->
    <div class="card mb-4 bg-light text-center">
      <!--begin::Body-->
      <div class="card-body py-12">
        <!--begin::Icon-->
        <a href="https://www.facebook.com/profile.php?id=100088939721177" target="_blank" class="mx-4">
          <img src="assets/media/svg/brand-logos/facebook-4.svg" class="h-30px my-2" alt="" />
        </a>
        <!--end::Icon-->
        <!--begin::Icon-->
        <a href="https://instagram.com/sociobond" target="_blank" class="mx-4">
          <img src="assets/media/svg/brand-logos/instagram-2-1.svg" class="h-30px my-2" alt="" />
        </a>
        <!--end::Icon-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Body-->
</div>
