<div class="pb-8 pb-lg-10">
  <h2 class="fw-bolder text-dark">{{ orderMessage }}</h2>
  <div class="text-gray-400 fw-bold fs-6">
    <!-- Order Id: 123123 -->
    <!-- <a class="link-primary fw-bolder cursor-pointer"> View Order History</a>. -->
  </div>
</div>
<div class="mb-0">
  <div class="fs-6 text-gray-600 mb-5">
    Delivery time may vary based on selected server.
    If your order is stuck for more than 2 hours, please <a href="">contact us</a>
  </div>
  <div
    class="
      notice
      d-flex
      bg-light-warning
      rounded
      border-warning border border-dashed
      p-6
    "
    *ngIf="displayDraftAlert"
  >
    <span class="svg-icon svg-icon-2tx svg-icon-warning me-4"></span>
    <div class="d-flex flex-stack flex-grow-1">
      <div class="fw-bold">
        <h4 class="text-gray-800 fw-bolder">Order has been saved as draft!</h4>
        <div class="fs-6 text-gray-600">
          To process order please add sufficient credits and click on 'place order' action button from order history page
          <br>
          <a href="/order/history" class="fw-bolder cursor-pointer"> View Order History</a>
          |
          <a href="/payment" class="fw-bolder cursor-pointer"> Add Credits</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-xxl-4"> -->
    <app-lists-widget5 class="card card-xxl-stretch"
      title="{{ logTitle }}"
      subtitle="{{ logSubtitle }}"
      [logs]="orderLogs$ | async"
    ></app-lists-widget5>
  <!-- </div> -->
</div>
