<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder text-dark">Order Settings</h2>
  <!-- <div class="text-gray-400 fw-bold fs-6">
    If you need more info, please check out
    <a href="#" class="link-primary fw-bolder"> Help Page</a>.
  </div> -->
</div>
<div [formGroup]="form">
  <div class="mb-10 fv-row">
    <label class="d-flex align-items-center form-label mb-3"
      >Select Type<i
        class="fas fa-exclamation-circle ms-2 fs-7"
        ngbTooltip="Choose types of account."
      ></i
    ></label>
    <div class="row mb-2" data-kt-buttons="true">
      <div class="col">
        <input
          formControlName="selectType"
          type="radio"
          class="btn-check"
          id="select_type_real"
          value="real"
        /><label
          class="
            btn btn-outline btn-outline-dashed btn-outline-default
            w-100
            p-4
          "
          for="select_type_real"
          ><span class="fw-bolder fs-3">Real</span></label
        >
      </div>
      <div class="col">
        <input
          formControlName="selectType"
          type="radio"
          class="btn-check"
          id="select_type_bot"
          value="bot"
        /><label
          class="
            btn btn-outline btn-outline-dashed btn-outline-default
            w-100
            p-4
          "
          for="select_type_bot"
          ><span class="fw-bolder fs-3">Bot</span></label
        >
      </div>
      <div class="col">
        <input
          formControlName="selectType"
          type="radio"
          class="btn-check"
          id="select_type_targetted"
          value="targetted"
        /><label
          class="
            btn btn-outline btn-outline-dashed btn-outline-default
            w-100
            p-4
          "
          for="select_type_targetted"
          ><span class="fw-bolder fs-3">Targetted</span></label
        >
      </div>
    </div>
    <!-- <div class="form-text">
      Customers will see this shortened version of your statement descriptor
    </div> -->
  </div>

  <div class="mb-0 fv-row">
    <label class="d-flex align-items-center form-label mb-5"
      >Select Service<i
        class="fas fa-exclamation-circle ms-2 fs-7"
        ngbTooltip="Please choose service, for more details check 'Price Information' page."
      ></i
    ></label>
    <div class="mb-0" *ngIf="services.length <= 0">
      No services found for selected category.
    </div>
    <div class="scroll-y mh-300px me-n7 pe-7">
      <div class="mb-0" *ngIf="services.length > 0">
        <label class="d-flex flex-stack mb-5 cursor-pointer" *ngFor="let service of services" (change)="onServiceChange($event)">
          <span class="d-flex align-items-center me-2">
            <span class="symbol symbol-50px me-6">
              <span class="symbol-label" >
                <span
                  class={{service.service_icon}}
                  [style.color]="'#d2d5de !important'"
                ></span>
              </span>
            </span>
            <span class="d-flex flex-column">
              <span class="fw-bolder text-gray-800 text-hover-primary fs-5">{{service.service_name + ' - $' + service.price_per_k + '/k'}}</span>
              <span class="fs-6 fw-bold text-gray-400">
                Min: {{service.min_quantity}} | Max: {{service.max_quantity}} | {{service.service_details}}
              </span>
            </span>
          </span>
          <span class="form-check form-check-custom form-check-solid">
            <input
              formControlName="selectService"
              class="form-check-input"
              type="radio"
              [attr.data-min-quantity]="service.min_quantity"
              [attr.data-max-quantity]="service.max_quantity"
              value={{service._id}} />
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class="mb-10 fv-row" style="margin-top: 32px;">
    <label class="form-label mb-3 required">Order Link</label>
    <input
      (change)="onLinkChange($event)"
      formControlName="link"
      type="text"
      class="form-control form-control-lg form-control-solid"
      placeholder="Enter Post URL"
    />
    <div *ngIf="form.get('link')?.errors && form.get('link')?.touched"
      class="fv-plugins-message-container invalid-feedback">
      <span *ngIf="form.get('link')?.hasError('required')">Order link is required.</span>
      <span *ngIf="form.get('link')?.hasError('pattern')">Please enter a valid Instagram Post URL. </span>
    </div>
    <div class="form-text">
      Sample URL: https://www.instagram.com/p/CXSRUrjl3KP/
    </div>
  </div>

  <div class="mb-0">
    <label class="form-label mb-3 required">Order Quantity</label>
    <input type="number"
      formControlName="quantity"
      class="form-control form-control-lg form-control-solid"
      placeholder="{{this.availableStaticValues[this.defaultValues.selectCategory].quantityPlaceholder }}"
    />
    <div *ngIf="form.get('quantity')?.errors && form.get('quantity')?.touched"
      class="fv-plugins-message-container invalid-feedback">
      <span *ngIf="form.get('quantity')?.hasError('required')">Please enter quantity.</span>
      <span *ngIf="form.get('quantity')?.hasError('min') || form.get('quantity')?.hasError('max')">{{'Quantity should be in between ' + serviceMinQuantity + ' and ' + serviceMaxQuantity}}. </span>
    </div>
  </div>

</div>
