<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard"
  ><span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div>

<!-- Order -->
<div
  class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown"
  data-kt-menu-trigger="click"
  data-kt-menu-placement="bottom-start"
>
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/order')">
    <span class="menu-title">Orders</span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
  <div
    class="
      menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0
      py-lg-4
      w-lg-225px
    "
    data-kt-menu-dismiss="true"
    data-popper-placement="bottom-start"
  >
  <div class="menu-item me-lg-1">
    <a
      class="menu-link py-3"
      routerLinkActive="active"
      routerLink="/order/add"
    >
    <span class="menu-icon"><i class="bi fs-3 bi-cart"></i></span>
    <span class="menu-title">Add Order</span></a
    >
  </div>
  <div class="menu-item me-lg-1">
    <a
      class="menu-link py-3"
      routerLinkActive="active"
      routerLink="/order/history"
    >
    <span class="menu-icon"><i class="bi fs-3 bi-cart-check-fill"></i></span>
    <span class="menu-title">Order History</span></a
    >
  </div>
  </div>
</div>
