<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder d-flex align-items-center text-dark">
    Select Category
    <i
      class="fas fa-exclamation-circle ms-2 fs-7"
      ngbTooltip="Select below listed service category and click continue"
    ></i>
  </h2>

  <!-- <div class="text-gray-400 fw-bold fs-6">
    If you need more info, please check out
    <a href="#" class="link-primary fw-bolder"> Help Page </a>
    .
  </div> -->
</div>

<div class="fv-row" [formGroup]="form">
  <div class="row" *ngIf="isLoading">Loading...</div>
  <div class="row" *ngIf="!isLoading">
    <div class="col-lg-6" *ngFor="let category of serviceCategories">
      <input
        formControlName="selectCategory"
        name="selectCategory"
        type="radio"
        class="btn-check"
        id="kt_create_account_form_account_type_{{category.category_code}}"
        value="{{category.category_code}}"
      />
      <label
        class="
          btn btn-outline btn-outline-dashed btn-outline-default
          p-7
          d-flex
          align-items-center
          mb-10
        "
        for="kt_create_account_form_account_type_{{category.category_code}}"
      >
        <span
          class={{category.category_icon}}
        ></span>
        <span class="d-block fw-bold text-start">
          <span class="text-dark fw-bolder d-block fs-4 mb-2"
            >{{category.category_name}}</span
          >
          <span class="text-gray-400 fw-bold fs-6">
            {{category.category_description}}
          </span>
        </span>
      </label>
    </div>

    <div class="fv-plugins-message-container invalid-feedback">
      <!-- <ErrorMessage name='selectCategory' /> -->
    </div>
  </div>
</div>
