<div class="card">
  <!--begin::Body-->
  <div class="card-body p-10 p-lg-15">
    <!--begin::Classic content-->
    <div class="mb-13">
      <!--begin::Row-->
      <div class="row mb-12">
        <!--begin::Col-->
        <div class="col-md-6 pe-md-10 mb-10 mb-md-0">
          <!--begin::Title-->
          <h2 class="text-gray-800 fw-bolder mb-4">Please read before purchasing</h2>
          <!--end::Title-->
          <div class="d-flex mt-3" *ngFor="let instruction of purchaseInstructions">
            <i class="fa fa-genderless text-primary fs-1"></i>
            <span class="fw-mormal ps-3"> {{ instruction }} </span>
          </div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6 ps-md-10 card-rounded bg-primary bg-opacity-5 p-10 mb-15">
          <!--begin::Title-->
          <h2 class="text-gray-800 fw-bolder mb-4">Buy Credits</h2>
          <!--end::Title-->
          <!--begin::Accordion-->
          <!--begin::Section-->
          <div class="m-0">
            <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
              <div class="separator my-5"></div>
              <!--begin::Input group-->
              <div class="row fv-row mb-7">
                <div class="col-md-4 text-md-end">
                  <!--begin::Label-->
                  <label class="fs-6 fw-bold form-label mt-3">
                    <span>Currency</span>
                  </label>
                  <!--end::Label-->
                </div>
                <div class="col-md-8">
                  <div class="d-flex mt-3">
                    <!--begin::Radio-->
                    <div *ngFor="let currency of currencies"
                      class="form-check form-check-custom form-check-solid me-5">
                      <input class="form-check-input" type="radio"
                        [id]="currency"
                        [value]="currency"
                        formControlName="currency" />
                      <label class="form-check-label" [for]="currency">
                        {{ currency | uppercase}}
                      </label>
                    </div>
                    <!--end::Radio-->
                  </div>
                </div>
              </div>
              <!--end::Input group-->
              <!--begin::Input group-->
              <div class="row fv-row mb-7">
                <div class="col-md-4 text-md-end">
                  <!--begin::Label-->
                  <label class="fs-6 fw-bold form-label mt-3">
                    <span class="required">Amount</span>
                    <i class="fas fa-exclamation-circle ms-1 fs-7" ngbTooltip="Enter amount"></i>
                  </label>
                  <!--end::Label-->
                </div>
                <div class="col-md-8 position-relative">
                  <i *ngIf="paymentForm.get('currency').value === 'inr'"
                    class="fas fa-rupee-sign position-absolute top-50 translate-middle-y ms-3"></i>
                  <i *ngIf="paymentForm.get('currency').value === 'usd'"
                    class="fas fa-dollar-sign position-absolute top-50 translate-middle-y ms-3"></i>
                  <!--begin::Input-->
                  <input type="number" class="form-control ps-10"
                    formControlName="amount"
                    value="100" min="100" />
                  <!--end::Input-->
                </div>
              </div>
              <!--end::Input group-->
              <!--begin::Action buttons-->
              <div class="row">
                <div class="col-md-9 offset-md-3">
                  <!--begin::Separator-->
                  <div class="separator mb-6"></div>
                  <!--end::Separator-->
                  <div class="d-flex justify-content-end">
                    <!--begin::Button-->
                    <button type="reset" data-kt-ecommerce-settings-type="cancel" class="btn btn-light me-3">Cancel</button>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <!-- <button type="submit" class="btn btn-info" id="submitBtn">
                      <span class="indicator-label">Buy</span>
                      <span class="indicator-progress">Please wait...
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button> -->

                    <div> <a style=" width: 135px; background-color: #6BB0C6; text-align: center; font-weight: 800; padding: 11px 0px; color: white; font-size: 12px; display: inline-block; text-decoration: none; " href='https://pmny.in/IIejUcBxUQF8' > Pay Now </a> </div>
                    <!--end::Button-->
                  </div>
                </div>
              </div>
              <!--end::Action buttons-->
            </form>
          </div>
          <!--end::Section-->
          <!--end::Accordion-->
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->
    </div>
    <!--end::Classic content-->
    <!--begin::Card-->
    <div class="card mb-4 bg-light text-center">
      <!--begin::Body-->
      <div class="card-body py-12">
        <!--begin::Icon-->
        <a href="#" class="mx-4">
          <img src="assets/media/svg/brand-logos/facebook-4.svg" class="h-30px my-2" alt="" />
        </a>
        <!--end::Icon-->
        <!--begin::Icon-->
        <a href="#" class="mx-4">
          <img src="assets/media/svg/brand-logos/instagram-2-1.svg" class="h-30px my-2" alt="" />
        </a>
        <!--end::Icon-->
        <!--begin::Icon-->
        <a href="#" class="mx-4">
          <img src="assets/media/svg/brand-logos/github.svg" class="h-30px my-2" alt="" />
        </a>
        <!--end::Icon-->
        <!--begin::Icon-->
        <a href="#" class="mx-4">
          <img src="assets/media/svg/brand-logos/behance.svg" class="h-30px my-2" alt="" />
        </a>
        <!--end::Icon-->
        <!--begin::Icon-->
        <a href="#" class="mx-4">
          <img src="assets/media/svg/brand-logos/pinterest-p.svg" class="h-30px my-2" alt="" />
        </a>
        <!--end::Icon-->
        <!--begin::Icon-->
        <a href="#" class="mx-4">
          <img src="assets/media/svg/brand-logos/twitter.svg" class="h-30px my-2" alt="" />
        </a>
        <!--end::Icon-->
        <!--begin::Icon-->
        <a href="#" class="mx-4">
          <img src="assets/media/svg/brand-logos/dribbble-icon-1.svg" class="h-30px my-2" alt="" />
        </a>
        <!--end::Icon-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Body-->
</div>
